body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-weight: bold;
    font-size: 18px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}